body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.site-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 100%;
    margin: 0;
}
.main-site-columns {
    margin: 0;
    border: 1px solid black;
}

.site-container > .middle-column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.site-container > .middle-column > div {
    margin: 0;
    border: 1px solid black;
}

.site-container > .middle-column > .tree1_visualization {
    position: relative;
    height: 50%;
    width: 100%;
    margin: 0;

}

.site-container > .middle-column > .tree2_visualization {
    position: relative;
    height: 50%;
    width: 100%;
}

.site-container > .middle-column > .legend-component {
    width: 100%;
}

/* Pertaining to the singleview color legend */
#distance-evaluation-container {
  display: flex;
  margin-left: 20px;
  width: 250px;
  height: 30px;
  align-items: center;
  padding: 0;
}

#distance_metric {
  display: block;
  margin-top: -16px;
  height: 30px;
  width: 150px;
}
}

.legend-container {
    display: block;
    margin-left: 20px;
}

.legend {
    height: 30px;
    width: 250px;
    border: 1px solid black;
    margin-left: 20px;
}

.legend-labels-container {
    width: 250px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 20px;
}

#distance-measure-label {
  display: block;
  margin-left: 10px;
  height: 20px;
  width: 400px;
}

.label {
    width: 10px;
    height: 20px;
    font-size: 12px;
}
/* Pertaining to the singleview summary statistics */
#summary-statistics-table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 5%;
  background-color: #F5F5F5;
}
#summary-statistics-table th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}
#summary-statistics-table td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
#table-name > th{
  text-align: center;
}

td {
  font-weight: normal;
  font-family: Courier New;
}

/* Pertainining to the input management */
.upload-file-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.edit-file-icon {
  position: absolute;
  top: 60px;
  left: 10px;
}

.edit-textarea {
  position: absolute;
  top: 110px;
  left: 10px;
}

/* Pertaining to the mutation venn diagram */
#tree1-mutations, #tree2-mutations, #shared-mutations {
    word-wrap: break-word;
    margin: 0;
}

#tree-label-info-container {
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.tree-label-info {
    flex: 1;
    height: auto;
    border: 1px solid black;
}

.tree-label-info > h3{
    text-align: left;
    font-size: 16px;
    text-decoration: underline;
    padding-left: 10px;
}

p > div {
  min-width: 30px;
  height: 20px;
  float: left;
  padding-left: 10px;
}

p > div > span {
  font-family: Courier New;
  font-size: 13px;
}

