html {
  margin: 0;
  padding: 0;
} 

body { 
    margin: 0;
    padding: 0;
    height: 100vh;
}

h4 {
  padding: 10px 0px 10px 10px;
  margin: 0;
}

th {
    font-family: Roboto Mono;
    font-size: 5px;
}

header {
  height: 50px;
  background-color: gray;
  width: 100%;
}

#title-bar {
    display: grid;
    grid-template-columns: 85% 15%;
}

#vectr-title {
  /*width: 85%;*/
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  text-align: left;
  font-family: Roboto Mono;
  font-size: 20px;
  color: black;
}

#title-bar-buttons {
    text-align: right;
    padding-right: 5px;
    padding-top: 10px;
}

#about-us-button {
    height: 30px;
}

#home-button {
    height: 30px;
}

#codebase-button {
    height: 30px;
}

.site-container {
    display: grid;
    grid-template-columns: 75% 25%;
    height: calc(100% - 50px);
    margin: 0;
}


.main-site-columns {
    margin: 0;
    height: 99%;
}

.site-container > .left-column {
    flex-direction: column;
    display: grid;
    grid-template-rows: 45% 45%;
    margin: 0;
}

.site-container > .left-test-column {
    flex-direction: column;
    display: grid;
    grid-template-rows: 5% 19% 13% 13%
			5% 19% 13% 13%;
    margin: 0;
}

.site-container > .middle-column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.site-container > .middle-column > div {
    margin: 0;
    /*border: 1px solid black;*/
}

/*
.site-container > .middle-column > .tree1_visualization {
    position: relative;
    height: 50%;
    width: 100%;
    box-shadow: inset 0 0 10px #d95f02; 
}

.site-container > .middle-column > .tree2_visualization {
    position: relative;
    height: 50%;
    width: 100%;
    box-shadow: inset 0 0 10px #7570b3; 
}
*/

.left-new-column {
    display: grid;
    grid-template-rows: 47% 6% 47%;
}

.site-container > .left-new-column > .tree1-container {
    position: relative;
 
    box-shadow: inset 0 0 10px #d95f02;
    display: grid;
    grid-template-columns: 20% 80%;

      /*border-top: 1px solid black;*/
}

.site-container > .left-new-column > .tree2-container {
    position: relative;
    
    box-shadow: inset 0 0 10px #7570b3;
    display: grid;
    grid-template-columns: 20% 80%;
}

.tree1-info {
    position: relative;
    display: grid;
    grid-template-rows: 18% 36% 22% 24%;
}

.tree2-info {
    position: relative;
    display: grid;
    grid-template-rows: 18% 36% 22% 24%; /*12% 38% 25% 25%;*/
    
}




.site-container > .right-column > div {
  /*border-bottom: 1px solid black;*/
}



/* Pertaining to the rightmost column containing tripartite and heatmap */
.intersection-union-option {
  width: 100%;
  height: 4%;
  display: flex;
  font-family: Roboto Mono;
  flex-direction: column;
  justify-content: center;
  /*border-bottom: 1px solid black;*/
}

.intersection-union-option > div {
  height: 20px;
  display: flex;
  background: lightgray;
  padding-bottom: 5px;
}

.intersection-union-option > div > div {
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

.site-container > .right-column > .tripartite-component {
    height: 50%;
  
}

.site-container > .right-column > .heatmap-component {
    height: 42%;
    /*border-bottom: 1px solid black;*/
}


#heatmap-tripartite-info {
    height: 30px;
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    display: grid;
    grid-template-columns: 90% 10%;
  
    
}

#heatmap-tripartite-label {
    
    font-size: 20px;
    padding-left: 10px;
    font-family: Roboto Mono;
    padding-top: 6px;
    background: lightgray;
    
    
}

#heatmap-tripartite-button {
  
 
}








.tree1-summary-options-container {
    display: grid;
    grid-template-rows: 40% 20% 20% 20%;
}

.tree2-summary-options-container {
   
  display: grid;
  grid-template-rows: 40% 20% 20% 20%;
}







/* Pertaining to the singleview color legend */
.site-container > .middle-column > .tree1_visualization > .legend-component {
    position: absolute;
    bottom: 10px;
    right: 0;
    /*width: 280px;*/
}

.site-container > .middle-column > .tree2_visualization > .legend-component {
    position: absolute;
    bottom: 10px;
    right: 0;
    /*width: 280px;*/
}

.legend-component {
  height: 45px;
  display: flex;
  align-items: center;
  background: white;
}

#no-contribution-legend {
  width: 15%;
  display: flex;
  align-items: center;
}

#no-contribution-text {
  width: 100px;
  font-size: 11px;
  text-align: center;
  font-family: Roboto Mono;
}

#no-contribution-shape-container {
  height: 30px;
  display: flex;
  align-items: center;
  width: 40%;
  padding: 0px 5px;
  background-color: white;
}

#no-contribution-shape {
  display: block;
  width: 100%;
  height: 2px;
  background-color: lightgray;
}


#distance-evaluation-container {
  display: flex;
  margin-left: 20px;
  /*width: 250px;*/
  width: 20%;
  height: 30px;
  align-items: center;
  font-family: Roboto Mono;
  padding: 0;
}

#distance_metric {
  display: block;
  margin-top: -16px;
  height: 30px;
  min-width: 100px;
  width: 80%;
}

.legend-container {
    display: block;
    position: relative;
    width: 35%;
   /* width: 25%;*/

}

.legend-container-distance-measure {
    display: block;
    position: relative;
    width: 20%;
   /* width: 25%;*/

}

.legend {
    height: 20px;
    min-width: 120px;
    width: 100%; 
    box-shadow: inset 0 0 1px black; 
}

.legend-labels-container {
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 20px;
}

#distance-measure-label {
  display: block;
  margin-left: 10px;
  height: 20px;
  width: 400px;
}

.label {
    width: 10px;
    height: 20px;
    font-size: 12px;
}

.legend-container > #less-contribution-label {
  position: absolute;
  /*width: 200px;*/
  width: 300px;
  left: 5px;
  top: 1px;
  font-size: 11px;
  line-height: 20px;
  font-family: Roboto Mono;
}

.legend-container > #more-contribution-label {
  position: absolute;
  /*width: 200px;*/
  width: 300px;
  right: 5px;
  top: 1px;
  color: white;
  text-align: right;
  font-size: 11px;
  line-height: 20px;
  font-family: Roboto Mono;
}

/* Pertaining to the texture legend */
.texture-legend {
  /*width: 30px;*/
  height: 30px;
  background-color: white;
}

#texture-legend-container {
  display: flex;
  /*width: 275px;*/
  width: 15%;
  font-size: 11px;
}

.texture-legend-text {
  /*line-height: 40px;*/
  padding-left: 10px;
  padding-right: 5px;
  font-family: Roboto Mono;

  align-items: center;
 
}

#tree-label-info-container {
    /*border-bottom: 1px solid black;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tree-label-info {
    flex: 1;
    height: auto;
    /*border-bottom: 1px solid black;*/
    height: calc(100% / 3);
}

.tree-label-info > h3{
    text-align: left;
    font-size: 16px;
    text-decoration: underline;
    padding-left: 10px;
}

/*
p > div {
  min-width: 30px;
  height: 20px;
  padding-left: 10px;
}
*/


.summary-test-statistics-table {
  /*border: 1px solid black;*/
  border-collapse: collapse;
  margin: 5%;
  background-color: #F5F5F5;
}
.summary-test-statistics-table th{
  /*border: 1px solid black;*/
  border-collapse: collapse;
  padding: 2px;
  text-align: left;
  font-size: 15px;
  padding-right: 15px;
}

#added-space-below {
    padding-bottom: 10px;
}

.summary-test-statistics-table td{
  /*border: 1px solid black;*/
  border-collapse: collapse;
  padding: 2px;
  font-weight: normal;
  font-family: Roboto Mono;
  font-size: 12px;
  
}









/* Pertaining to the singleview summary statistics */
#summary-statistics-table {
  /*border: 1px solid black;*/
  border-collapse: collapse;
  margin: 5%;
  background-color: #F5F5F5;
}
#summary-statistics-table th{
  /*border: 1px solid black;*/
  border-collapse: collapse;
  padding: 2px;
  text-align: left;
  font-size: 15px;
}
#summary-statistics-table td{
  /*border: 1px solid black;*/
  border-collapse: collapse;
  padding: 2px;
  font-weight: normal;
  font-family: Roboto Mono;
  font-size: 12px;
  width: 15px;
}

/* second copy of summary statistics table for tree 2 */
#summary-statistics-table2 {
  /*border: 1px solid black;*/
  border-collapse: collapse;
  margin: 5%;
  background-color: #F5F5F5;
}
#summary-statistics-table2 th{
  /*border: 1px solid black;*/
  border-collapse: collapse;
  padding: 2px;
  text-align: left;
  font-size: 15px;
}
#summary-statistics-table2 td{
  /*border: 1px solid black;*/
  border-collapse: collapse;
  padding: 2px;
  font-weight: normal;
  font-family: Roboto Mono;
  font-size: 12px;
  width: 15px;
}


#table-name > th{
  text-align: center;
}

/* Pertainining to the input management */
.upload-file-icon {
    position: relative;
    left: 5px;
  /*top: 10px;
  right: 10px;*/
}

.edit-file-icon {
    position: relative;
    left: 10px;
    /*
  top: 60px;
  right: 10px;
*/
}

.edit-textarea {
  position: absolute;
  top: 110px;
  left: 10px;
}

/* Pertaining to the mutation venn diagram */
#tree1-mutations, #tree2-mutations {
    word-wrap: break-word;
    margin: 0;
    font-size: 13px;
}

#tree1-mutations-container {
  /*box-shadow: inset 0 0 5px #d95f02; */
  /*overflow: scroll;*/
  position: relative;
  padding: 2px;
}

#tree2-mutations-container {
  /*box-shadow: inset 0 0 5px #7570b3; */
  /*overflow: scroll;*/
  position: relative;
  padding: 2px;
}

h3 {
    font-family: Helvetica;
    font-size: 12px;
}


#t1_top5_summary_element, #t2_top5_summary_element {
    word-wrap: break-word;
    margin: 0;
    font-size: 13px;
    height: 45px;
    overflow: auto;
}







/* The mutations in the venn diagram */
p > div > span {
  font-family: Roboto Mono;
  font-size: 13px;
}

#modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  backdrop-filter: blur(3px);
  display: none;
  justify-content: center;
  align-items: center;
}

#manual-edit-modal {
  width: 40%;
  height: 40%;
  min-height: 450px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#manual-edit-modal > .manual-edit-textarea {
  width: 95%; 
  height: 70%;
  border-radius: 5px;
}

#manual-edit-modal > #t1-manual-edit-textarea {
  display: none;
}

#manual-edit-modal > #t2-manual-edit-textarea {
  display: none;
}

.btn-close {
  font-size: 1em;
  font-weight: 700;
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
  position: absolute;
  right: 15px;
  top: 15px;
}

.btn-submit {
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: black;
  color: white;
  font-size: 1em;
}

/* This is the styling for tree labels T1 and T2*/
.tree-label {
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 1.6em;
  font-family: Roboto Mono;

}

.file-upload-container {
    position: absolute;
    left: 140px;
    top: 10px;

}

.file-edit-container {
    position: absolute;
    left: 100px;
    top: 10px;
 
}

#tree1-basics-container {
    position: relative;
    display: grid;
    grid-template-rows: 75% 25%;
   
}

#tree2-basics-container {
    position: relative;
      display: grid;
    grid-template-rows: 75% 25%;
   
}

#tree1-contributors-container {
     /*box-shadow: inset 0 0 5px #d95f02; */
  /*overflow: scroll;*/
     position: relative;
     padding: 2px;

}

#tree2-contributors-container {
     /*box-shadow: inset 0 0 5px #7570b3; */
  /*overflow: scroll;*/
     position: relative;
     padding: 2px;

}

li {
    list-style-type: none;
    padding-left: 10px;
    font-family: Roboto Mono;
}

#distance-measure-title {
    width: 160px;
    position: relative;

    text-align: center;
    font-size: 14px;
   

}

#gt-title-container {
  display: flex;
  margin-left: 20px;
  /*width: 80px;*/
  width: 5%;
  height: 30px;
  align-items: center;
  font-family: Roboto Mono;
  padding: 0;
}

#gt-title {
    width: 60px;
    position: relative;

    text-align: center;
    font-size: 11px;
   

}


#legend-question {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

#legend-name {
    padding-left: 10px;
    font-family: Roboto Mono;
    font-size: 20px;
    padding-top: 10px;
    position: relative;
    font-size: 18px;
}

#legend-name-sizing {
    background-color: white;
    height: 95%;
    margin-bottom: 4px;
    padding-right: 10px;
    width: 10%;
}

.download-file-icon {
    position: relative;
    /*
  top: 60px;
  right: 10px;
*/
}

.file-download-container {
    position: absolute;
    left: 180px;
    top: 10px;

}

#right-column-spacer {
    display: grid;
    grid-template-columns: 50% 50%;
}


#heatmap-download-container {
    position: relative;
    padding: 0px;
}

#tripartite-download-container {
    position: relative;
    padding: 0px;
}


/*tooltip stuff*/

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



/*modal for explaining explanations*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  backdrop-filter: blur(3px);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 45%; 
  height: 45%;
}

/* The Close Button Distance*/
.close-distance {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-distance:hover,
.close-distance:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* The Close Button Graphs */
.close-graphs {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-graphs:hover,
.close-graphs:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#legendExplanation {
  background-color: white;
  border: none;
  padding: 0px 0px;
  width: 20px;
  height: 20px;
}

#question-background {
    background-color: lightgray;
    padding-top: 1px;
}

#heatmapTripartiteExplanation {
    background-color: lightgray;
  border: none;
  padding: 0px 0px;
  width: 30px;
  height: 30px;
}

.download:active{
    background-color: white;
    color: black;
}

.download {
    background-color: white;
    border: none;
}

#t1-top5-title {
    word-wrap: break-word;
    display:inline-block;
    margin: 0;
}

#t1-measure-label {
    display:inline-block;
    margin: 0;
    padding-right: 5px;
}

#t2-top5-title {
    word-wrap: break-word;
    display:inline-block;
    margin: 0;
}

#t2-measure-label {
    display:inline-block;
    margin: 0;
    padding-right: 5px;
}

#tree1-basics-structure {
    position: relative;
 
}

#tree1-filename-label-container {
    position: relative;
}



#tree1-filename-label {
    margin:0;
    padding:0;
    padding-left: 12px;
}


#tree2-basics-structure {
    position: relative;
 
}

#tree2-filename-label-container {
    position: relative;
}



#tree2-filename-label {
    margin:0;
    padding:0;
    padding-left: 12px;
}


/*distance measure modal stuff*/

#explanations-title {
    font-size: 18px;
    padding-bottom: 10px;
}

#distance-general-description {
    font-size: 16px;
    padding-bottom: 20px;
}

#distance-explanation-title {
    font-size: 18px;
    padding-bottom: 10px;
}

#distance-explanation {
    font-size: 16px;
}

#distance-citation {
    padding-top: 10px;
    font-size: 14px;
}

#graphs-explanation-title {
    font-size: 18px;
    padding-bottom: 10px;
}

#graphs-general-explanation {
    font-size: 16px;
    padding-bottom: 10px;
}

#heatmap-explanation {
    font-size: 16px;
    padding-bottom: 10px;
}

#tripartite-explanation {
    font-size: 16px;
    padding-bottom: 10px;
}

.explanation-p {
    margin:0;
    padding:0;
}





/*specifications for about us page*/
/*should move to about_us.css depending on how much there is*/
#about-us-h1 {
    padding-left: 20px;
    font-size: 30px;
    font-family: Roboto Mono;
}

#about-us-p {
    padding-left: 20px;
    font-size: 20px;
    font-family: Roboto Mono;
}

