<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/visPage_somedraft.css">
    <title>Document</title>
</head>

  <header>
    <div id="title-bar">
      <div id="vectr-title">
         VECTR: <span style="color: lightgray">V</span>isual  <span style="color: lightgray">E</span>ncodings for  <span style="color: lightgray">C</span>lonal  <span style="color: lightgray">Tr</span>ees  <span style="font-size: 15px; "><em>An interactive tool to facilitate visual comparison of clonal trees</em></span>
      </div>
      <div id="title-bar-buttons">
	<button id="home-button" onclick="window.location.href = 'visPage_somedraft.html';">Home</button>
	<button id="about-us-button" onclick="window.location.href = 'about_us.html';">About Us</button>
	<a href="https://github.com/quocodile/visualize-clonal-trees.git" target="_blank"><button id="codebase-button">Code</button></a>
      </div>
    </div>
  </header>

<body>
  
<div>
  <h1 id="about-us-h1">About Us</h1>
  <p id="about-us-p">Who we are, what we do, etc.</p>
</div>

</body>

</html>
