<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/visPage_draft2.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-selection@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-drag@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/textures@1.2.0/dist/textures.js"></script>
    <script type="module">
      import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";
    </script>
    <title>Document</title>
</head>
<body>
    <div class="site-container">
        <div class="main-site-columns left-column">
            <div>
                <table id="summary-statistics-table">
                    <tr id="table-name">
                        <th colspan="3">Summary Statistics</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Tree 1</th>
                        <th>Tree 2</th>
                    </tr>
                    <tr>
                        <th>Branching Factor</th>
                        <td id="t1-branching-factor"></td>
                        <td id="t2-branching-factor"></td>
                    </tr>
                    <tr>
                        <th>Height</th>
                        <td id="t1-height"></td>
                        <td id="t2-height"></td>
                    </tr>
                    <tr>
                        <th>Number nodes</th>
                        <td id="t1-number-nodes"></td>
                        <td id="t2-number-nodes"></td>
                    </tr>
                    <tr>
                        <th>Number mutations</th>
                        <td id="t1-number-mutations"></td>
                        <td id="t2-number-mutations"></td>
                    </tr>
                    <tr>
                        <th>Top 5 Contributions</th>
                        <td id="t1_top5_summary_element"></td>
                        <td id="t2_top5_summary_element"></td>
                    </tr>
                </table>
          </div>
            <div class="legend-component">
                <div class="legend-container" class="singleview" id="anyscale">
                    <div id="distance-evaluation-container">
			    <div class="dropdown distance-measure" id="distance-dropdown">
				<p> </p>
				<label id="metric_drp" for="distance_metric"></label>
				<select name="distance_metric" id="distance_metric" onchange="submit_tree()">
				    <option value="ancestor_descendant_distance">Ancestor-Descendant</option>
				    <option value="parent_child_distance" selected>Parent-Child</option>
				    <option value="caset_distance">CASet</option>
				    <option value="disc_distance">DISC</option>
				</select>
			    </div>
			    <div id="distance-measure-label"></div>
                    </div>
                </div>
            </div>
            <div class="distance-explanation" id="distance-explanation">
            <p></p>
            </div>
        </div>
        <div class="main-site-columns second-left-column">
	    <div id="tree-label-info-container">
	        <div id="tree1-mutations-container" class="tree-label-info"><h3>Distinct Tree 1 Mutations</h3><p id="tree1-mutations"></p></div>
	        <div id="shared-mutations-container" class="tree-label-info"><h3>Shared Tree Mutations</h3><p id="shared-mutations"></p></div>
	        <div id="tree2-mutations-container" class="tree-label-info"><h3>Distinct Tree 2 Mutations</h3><p id="tree2-mutations"></p></div>
	    </div>
        </div>
        <div class="main-site-columns middle-column">
            <div class="tree1_visualization" id="tree1_visualization">
                <div class="file-upload-container">
                  <label for="file1">
                    <img class="upload-file-icon"style="cursor: pointer; width: 30px; height: auto;"src="{{ url_for('static', filename='upload.png') }}" alt="upload icon"> 
                  </label>
                  <input style="display: none;" class="custom-file-input" type="file" id="file1" name="file1">
                </div>
                <div>
                    <img class="edit-file-icon" id='edit-tree1-icon' style="cursor: pointer; width: 30px; height: auto;"src="{{ url_for('static', filename='pen.png') }}" alt="edit icon"> 
		    <div class='edit-textarea'>
                      <textarea class="text-box" style="display: none;" id="tree1-text" name="" cols="10" rows="10">
		      </textarea>
                    </div>
                </div>
                    <svg id="svg1" width="100%" height="99%"> 
                    <g id="tree1_visualization_group" transform="translate(550,30)">
                        <g class="links"></g>
                        <g class="nodes"></g>
                    </g>
                    </svg>
                <div class="legend-component">
                    <div class="legend-container" class="singleview" id="anyscale">
                        <div class="legend"></div>
                        <div class="legend-labels-container">
                          <div class="label _colorLabel1" class="_colorLabel1">1</div>
                          <div class="label _colorLabel2">2</div>
                          <div class="label _colorLabel3">3</div>
                          <div class="label _colorLabel4">4</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tree2_visualization">
                <div class="file-upload-container">
                  <label for="file2">
                    <img class="upload-file-icon"style="cursor: pointer; width: 30px; height: auto;"src="{{ url_for('static', filename='upload.png') }}" alt="upload icon"> 
                  </label>
                  <input style="display: none;" class="custom-file-input" type="file" id="file2" name="file2">
                </div>
                <div>
                    <img class="edit-file-icon" id='edit-tree2-icon' style="cursor: pointer; width: 30px; height: auto;"src="{{ url_for('static', filename='pen.png') }}" alt="edit icon"> 
		    <div class='edit-textarea'>
			<textarea style="display: none;" class="text-box" id="tree2-text" name="" cols="10" rows="10">
			</textarea>
		    </div>
                </div>
                <svg id="svg2" width="100%" height="99%"> 
                <g id="tree2_visualization_group" transform="translate(550,30)">
                    <g class="links"></g>
                    <g class="nodes"></g>
                </g>
                </svg>
                <div class="legend-component">
                    <div class="legend-container" class="singleview" id="anyscale">
                        <div class="legend"></div>
                        <div class="legend-labels-container">
                          <div class="label _colorLabel1">1</div>
                          <div class="label _colorLabel2">2</div>
                          <div class="label _colorLabel3">3</div>
                          <div class="label _colorLabel4">4</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-site-columns right-column">
          <div class="intersection-union-option">
            <div>
              <div>
                <input type="radio" id="intersection" name="intersection-union" value="intersection" checked>
                <label for="intersection-union-option">Intersection</label>
              </div>
              <div>
                <input type="radio" id="union" name="intersection-union" value="union">
                <label for="intersection-union-option">Union</label>
              </div>
            </div>
          </div>
          <div class="tripartite-component"></div>
          <div class="heatmap-component"></div>
        </div>
    </div>
    <div id="modal-container" class="modal hidden">
      <div id="manual-edit-modal">
        <button class="btn-close" onclick="closeManualEditModal()">x</button>
        <textarea class="manual-edit-textarea" id="t1-manual-edit-textarea" name="" cols="10" rows="10"></textarea>
        <textarea class="manual-edit-textarea" id="t2-manual-edit-textarea" name="" cols="10" rows="10"></textarea>
        <button class="btn-submit">Save</button>
      </div> 
    </div>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <script src="{{ url_for('static', filename='set_functions.js') }}"></script>
    <script src="{{ url_for('static', filename='dual_tree.js') }}"></script>
</body>
</html>
